.button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
div {
  width: 200px;
  margin-left: 100px;
  margin-top: 100px;
  border: 2px solid black;
  padding: 60px;
}
h1 {
    position: absolute;
    top: 120px;
}