h1{
    text-decoration: underline;
    color: purple;
    text-transform: uppercase;
    text-decoration-color: orange;
}
P{
    font-size: 18px;
    line-height: 1.6;
    color: gray;
    text-align: justify;
    font-family: Arial, sans-serif;
    border-style: solid;
    border-color: black;
    padding: 25px 50px 25px 50px;
}
body{
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}